body {
  font-family: Arial, sans-serif;
  background-color: #e9d6c7;
  margin: 0;
}

/* Header & Logo */
header {
    position: relative;
    width: 100%;
    }

header .logo {
    position: absolute;
    z-index: 10;
    width: 90px;
    height: 90px;
    top: 0px;
    left: 35px;
    }

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    }

/* Navbar */
nav {
    background-color: #A06C2A;
    overflow: hidden;
    display: flex;
    font-family: 'Adamina', sans-serif;
    width: calc(100% - 80px);
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin: 20px 40px;
    position: relative;
    z-index: 9;
    top: 23px;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

nav ul li {
    display: inline-block;
    }

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 30px;
    letter-spacing: 3px;
    font-size: 15px;
    transition: color 0.3s ease;
    }

nav ul li a:hover {
    color: #813405;
    }

/* Detail Produk */
.detail-container {
  display: flex;
  gap: 30px;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.detail-container img {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  margin-bottom: 15px;
  object-fit: cover;
  border: 4px solid #a06c2a;
}

.detail-text {
  max-width: 500px;
  font-size: 20px;
  color: #3d2a21;
  line-height: 1.5;
  text-align: justify;
}

.harga {
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
}

/* Tombol Kembali */
.back-btn {
  display: inline-block;
  margin: 30px 40px;
  padding: 10px 20px;
  background-color: #6b4b3e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

/* FOOTER */
.footer {
  background-color: #5b1f24;
  color: white;
  padding: 50px 80px;
  position: relative;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-box h3 a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-box p a {
  font-size: 14px;
  color: white;
  margin-bottom: 6px;
  text-decoration: none;
}

.produk1 {
  display: flex;
  gap: 10px;
}

.produk1 img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* LOGO FOOTER */
.footer-logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.footer-logo img {
  width: 60px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sertif-content {
    flex-direction: column;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= ANIMASI TEKS ================= */

.type::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Fade text */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* Gambar slide */
.slide-img {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}

.slide-img.show {
  opacity: 1;
  transform: translateX(0);
}

/* Hover zoom */
.slide-img:hover {
  transform: scale(1.07);
  transition: 0.4s;
}