body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8d6c3;
}

/* Header & Logo */
header {
    position: relative;
    width: 100%;
    }

header .logo {
    position: absolute;
    z-index: 10;
    width: 90px;
    height: 90px;
    top: 0px;
    left: 35px;
    }

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    }

/* Navbar */
nav {
    background-color: #A06C2A;
    overflow: hidden;
    display: flex;
    font-family: 'Adamina', sans-serif;
    width: calc(100% - 80px);
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin: 20px 40px;
    position: relative;
    z-index: 9;
    top: 23px;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

nav ul li {
    display: inline-block;
    }

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px 30px;
    letter-spacing: 3px;
    font-size: 15px;
    transition: color 0.3s ease;
    }

nav ul li a:hover {
    color: #813405;
    }

/* SEARCH */
.search-container {
  margin: 10px auto;
  background: white;
  display: flex;
  align-items: center;
  width: 360px;
  padding: 8px 12px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.search-container input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 17px;
}

.search-container input:focus {
  outline: none;
}

.search-btn,
.filter-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

/* PRODUK GRID */
.produk-wrapper {
  padding: 80px 80px 20px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  text-align: center;
}

.produk-card {
  background: #f2e5d5;
  padding: 20px;
  border-radius: 20px;
  width: 280px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.produk-card img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}

.produk-card p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.detail-link {
    text-decoration: none;
    color: black;
}


/* FOOTER */
.footer {
  background-color: #5b1f24;
  color: white;
  padding: 50px 80px;
  top: 60px;
  position: relative;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-box h3 a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-box p a {
  font-size: 14px;
  color: white;
  margin-bottom: 6px;
  text-decoration: none;
}

.produk1 {
  display: flex;
  gap: 10px;
}

.produk1 img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/* LOGO FOOTER */
.footer-logo {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.footer-logo img {
  width: 60px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sertif-content {
    flex-direction: column;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* ================= ANIMASI TEKS ================= */

.type::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Fade text */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

/* Gambar slide */
.slide-img {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}

.slide-img.show {
  opacity: 1;
  transform: translateX(0);
}

/* Hover zoom */
.slide-img:hover {
  transform: scale(1.07);
  transition: 0.4s;
}